body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('images/clouds.png');
    background-repeat: no-repeat;
    background-position: center; 
}
.header{
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin: 0px;
    width: 60%;
    height: 1000px;
    padding: 2rem;
    margin-left: 20%;
    margin-bottom: 0px;
}
.footer{
    margin: 0px;
    padding: 0px;
    height: 20rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
}
.logo{
    margin-right: 5rem;
    width: auto;
    height: auto;
}